/* General settings for all my html files */

*,html,body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* End of general settings */
/* -------------------------------------------------------------------------------------------*/
/* Start of index.html styling */
header
{
    background-color: rgb(15, 15, 15);
    height: 112px;
    line-height: 112px;
}
ul
{
    list-style: none;
}
ul li
{
    display: inline-block;
}
header nav
{
    float: right;
}
.logo img{
    /* margin-top: 1px;
    margin: right 20px; */
    padding:30px 30px 30px 30px; 
    border-radius: 100%;
    font-family: arial;
    float: left;
    /* padding-top:50px;shifts content to the top wrt the float */
    /* padding-left: 20PX; shifts content away from the left to rhs */
    /* padding-bottom: 50px ; */
    
   
}
header nav ul li a
{
padding-right: 30px;
font-weight: bold;
color: rgb(253, 7, 192);
transition: all 0.5s ease-in;
}
/* header nav ul li a:hover
{
    text-decoration: underline;
    color: red;
    
} */
a:hover{
    background:rgb(253, 253, 253);
    text-decoration: underline;
    border-radius: 20px;
  
    }
    
/* images styling for each slider page */
.img1{
    transition: 0.6s ease;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(..//images/pitures_of_Me/mario5.jpg) no-repeat center;
    background-size: cover;
}
.img2{
    transition: 0.6s ease;
    background:linear-gradient(to top, rgba(0,0,0,0.5)95%, rgba(0,0,0,0.5)95%), url(..//images/sample_bg_pictures/sea-horse.jpeg)  ;
    background-size: cover;/* the cover value makes the photo to fill out the content to which it is being to.... and too it replaces the action of the "no-repeat center" value too */
}
.img3{
    transition: 0.6s ease;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(..//images/Restaurant_Sample_images/Restaurant\ logo\ on\ wall.jpg) no-repeat center;
    
}
/* End of images styling for each slider page */

.slider, .slider ul, .slider ul li
{
    height: 710px;
    width: 100%;
    color:crimson;
    text-align: center;
}
.slider h2{
    font-weight: bold;
}
a{
    text-decoration: none;
}
.slider span
{
    color: orange;
}
.slider a
{
    padding: 10px 14px;
}
@media (min-width: 600px) {
    body{
        background-color:none;
    }
}
@media (max-width: 599px) {
   .img1{
        background: url(..//images/sample_bg_pictures/eagle-wing.jpeg);
        background-size: cover;
    } 
}
/*End of index.html styling */
/* -------------------------------------------------------------------------------------------*/
/* Start of Porfolio.html styling */