/* General settings for all my html files */

*,html,body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* End of general settings */
/* -------------------------------------------------------------------------------------------*/
/* Start of index.html styling */
header
{
    background-color: rgb(15, 15, 15);
    height: 112px;
    line-height: 112px;
}
ul
{
    list-style: none;
}
ul li
{
    display: inline-block;
}
header nav
{
    float: right;
}
.logo img
{
    margin-top: 1px;
    margin: right 20px; 
    padding: 5%;
    

}
header nav ul li a
{
padding-right: 30px;
font-weight: bold;
color: white;
transition: all 0.5s ease-in;
}
header nav ul li a:hover
{
    text-decoration: none;
    color: red;
    
}
/* images styling for each slider page */
.img1{
    transition: 0.6s ease;
    background:url(..//images/pitures_of_Me/mario5.jpg) no-repeat center;
    background-size: auto;
}
.img2{
    transition: 0.6s ease;
    background:url(..//images/sample_bg_pictures/sea-horse.jpeg) no-repeat center ;
    background-size: auto;
}
.img3{
    transition: 0.6s ease;
    background:url(..//images/Restaurant_Sample_images/Restaurant\ logo\ on\ wall.jpg)no-repeat center;
    background-size: auto;
}
/* End of images styling for each slider page */

.slider, .slider ul, .slider ul li
{
    height: 710px;
    width: 100%;
    color:crimson;
    text-align: center;
}
.slider h2{
    font-weight: bold;
}
a{
    text-decoration: none;
}
.slider span
{
    color: orange;
}
.slider a
{
    padding: 10px 14px;
}
@media (min-width: 600px) {
    body{
        background-color: rgb(244, 209, 245);
    }
}
@media (max-width: 599px) {
    body{
        background-color: rgba(153, 237, 248, 0.911);
    }
}
/*End of index.html styling */
/* -------------------------------------------------------------------------------------------*/
/* Start of Porfolio.html styling */