*,html,body
{
    margin: 0;
    padding: 0;
}
header
{
    background-color: rgb(19, 32, 32);
    height: 112px;
    line-height: 112px;
}
ul
{
    list-style: none;
}
ul li
{
    display: inline-block;
}
header nav
{
    float: right;
}
.logo img
{
    margin-top: 14px;
}
header nav ul li a
{
padding-right: 30px;
font-weight: bold;
color: white;
transition: all 0.5s ease-in;
}
header nav ul li a:hover
{
    text-decoration: none;
    color: red;
    
}