*,html,body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  

}
header
{
    background-color: rgb(16, 16, 17);
    height: auto;
    line-height: normal;
}

ul li
{
   list-style: lower-greek; 
    display: inline;/* to remove bullet point */
}
header nav
{
    float: right;
    padding: 25px;
}
.logo img
{
    margin: auto 10px; 
    padding: 18px 100px;
}
header nav ul li a
{
padding-right: 30px;
font-weight: bold;
color: white;
transition: all 0.5s ease-in;
}
header nav ul li a:hover
{
    text-decoration: none;
    color: red;
    
}
.img1 {
    transition: 0.6s ease;
    background-image:url(..//marrious11.github.io/image/images/mario1.jpg) no-repeat right, linear-gradient(rgba(58, 56, 56, 0.459),rgba(19, 22, 29, 0.096));
    background-size: 700px 700px;
    opacity: 100%;
    color: whitesmoke;
}
.img2 {
    transition: 0.6s ease;
    background-image:url(..//marrious11.github.io/image/images/mario2.jpg) no-repeat right, linear-gradient(rgba(25, 25, 26, 0.459),rgba(19, 22, 29, 0.096));
    background-size: auto 5000px 5000px;
    width: fit-content;
    opacity: 100%;
    color: whitesmoke;
}
.img3{
    transition: 0.6s ease;
    background-image:url(..//image/allbrght3.jpg) no-repeat right, linear-gradient(rgba(88, 83, 88, 0.979),rgba(19, 22, 29, 0.096));
    background-size: 50px;
    opacity: 100%;
    color: whitesmoke;
}
.slider, .slider ul, .slider ul li
{
    height: 710px;
    width: 100%;
    color:white;
    text-align: center;
}
.slider h2{
    font-weight:600px;
}
.slider span
{
    color: orange;
}
.slider a
{
    padding: 10px 14px;
}
@media (min-width: 600px) {
    body{
        background-color: rgb(244, 209, 245);
    }
}
@media (max-width: 599px) {
    body{
        background-color: rgba(153, 237, 248, 0.911);
    }
}
